In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import sys
import sqlite3
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
cwd = os.getcwd()
PROJECT_PATH = cwd.split("quince_assignment")[0] + 'quince_assignment'
sys.path.insert(0, PROJECT_PATH)

In [3]:
event_data = pd.read_csv(
    f"{PROJECT_PATH}/src/data/event_202012182112.csv.gz", compression="gzip")

In [4]:
event_data['event_time'] = pd.to_datetime(event_data['event_time'],
                                          format="%Y-%m-%d %H:%M:%S")

## Overall stats

In [5]:
print(f"Event data has {event_data.shape[0]} rows and {event_data.shape[1]} columns")

Event data has 3638376 rows and 19 columns

In [6]:
min_date = event_data['event_time'].min().strftime('%d%b%Y')
max_date = event_data['event_time'].max().strftime('%d%b%Y')
print(f"Event data is from {min_date} to {max_date}")

Event data is from 15Sep2020 to 01Dec2020

## Column wise analysis

In [7]:
unique_items = event_data.nunique().to_dict()

In [17]:
event_type_order = {'checkout_page_view_contact_information': '4a', 'email_subscription_view': '6', 
                    'checkout_page_view_payment_method': '4c', 'checkout_page_view_stock_problems': '4e', 
                    'checkout_page_view_review': '4f', 'checkout_page_view_processing': '4d', 'add_to_cart': '3', 
                    'collection_view': '1', 'checkout_page_view_forward': '4g', 'product_view': '2', 
                    'checkout_page_view_shipping_method': '4b', 'order_complete': '5', np.NaN: '7'
                   }

In [18]:
event_data = event_data.assign(event_id=event_data['event_type']) 
event_data.replace({'event_id': event_type_order}, inplace=True)

In [11]:
for col in event_data.columns:
    print("="*50)
    print(f"Analysis for {col}")
    print(f"{col} has {unique_items[col]} unique items - {np.round(unique_items[col]/event_data.shape[0]*100, 2)}%")
    if unique_items[col] <= 20:
        print("Printing the frequency of categories")
        print(event_data[col].value_counts(normalize=True).cumsum())
    else:
        print("Printing sample values")
        print(list(event_data[col][0:5]))
    print("="*50)

==================================================
Analysis for event_id
event_id has 3638376 unique items - 100.0%
Printing sample values
['1', '2', '2', '1', '1']
==================================================
==================================================
Analysis for event_type
event_type has 12 unique items - 0.0%
Printing the frequency of categories
product_view                              0.375208
collection_view                           0.737596
email_subscription_view                   0.888763
add_to_cart                               0.942671
checkout_page_view_contact_information    0.963153
checkout_page_view_processing             0.972526
order_complete                            0.981645
checkout_page_view_payment_method         0.990464
checkout_page_view_shipping_method        0.998892
checkout_page_view_stock_problems         0.999749
checkout_page_view_forward                0.999947
checkout_page_view_review                 1.000000
Name: event_type, dtype: float64
==================================================
==================================================
Analysis for session_id
session_id has 817575 unique items - 22.47%
Printing sample values
['_3yqjlmvar', nan, '_khkq9os37', '_hze69q9et', '_g263lpdmo']
==================================================
==================================================
Analysis for event_time
event_time has 2593479 unique items - 71.28%
Printing sample values
[Timestamp('2020-09-15 00:00:00'), Timestamp('2020-09-15 00:00:00'), Timestamp('2020-09-15 00:00:00'), Timestamp('2020-09-15 00:00:03'), Timestamp('2020-09-15 00:00:06')]
==================================================
==================================================
Analysis for lb_user_id
lb_user_id has 588808 unique items - 16.18%
Printing sample values
['_gubus5rdy', nan, '_um8huipsf', '_ol42z2v2t', '_pbkmff3ji']
==================================================
==================================================
Analysis for email
email has 62877 unique items - 1.73%
Printing sample values
[nan, nan, nan, 'dd71fec29676f26fb0b5ceace4f73879', '305696f95c4ac02cd70379c2fba1babf']
==================================================
==================================================
Analysis for product_id
product_id has 266 unique items - 0.01%
Printing sample values
[nan, nan, 2070045294703.0, nan, nan]
==================================================
==================================================
Analysis for product_category
product_category has 5 unique items - 0.0%
Printing the frequency of categories
Apparel        0.772786
Home           0.884281
Accessories    0.985684
Jewelry        0.998803
Others         1.000000
Name: product_category, dtype: float64
==================================================
==================================================
Analysis for product_type
product_type has 28 unique items - 0.0%
Printing sample values
[nan, nan, 'Accessories', nan, nan]
==================================================
==================================================
Analysis for order_id
order_id has 32430 unique items - 0.89%
Printing sample values
[nan, nan, nan, nan, nan]
==================================================
==================================================
Analysis for collection_name
collection_name has 176 unique items - 0.0%
Printing sample values
['Best Sellers', nan, nan, 'Silk', 'Tees & Tanks']
==================================================
==================================================
Analysis for ip
ip has 419149 unique items - 11.52%
Printing sample values
['66.65.111.174', '66.249.79.246', '66.249.79.228', '107.77.214.106', '69.115.146.167']
==================================================
==================================================
Analysis for device
device has 3 unique items - 0.0%
Printing the frequency of categories
mobile     0.685951
desktop    0.970062
tablet     1.000000
Name: device, dtype: float64
==================================================
==================================================
Analysis for url
url has 830709 unique items - 22.83%
Printing sample values
['https://www.onequince.com/women/best-sellers', 'https://54.183.41.207/products/100-organic-linen-tank?_fd=0', 'https://www.onequince.com/women/leather/tall-italian-leather-tote?variant=31196213837935&color=cognac', 'https://www.onequince.com/collections/silk', 'https://www.onequince.com/women/tees']
==================================================
==================================================
Analysis for device_category
device_category has 10 unique items - 0.0%
Printing the frequency of categories
iPhone           0.575498
macOS            0.756472
Android          0.864064
Windows          0.947328
iPad             0.989182
Chrome OS        0.993772
Generic Linux    0.997955
Unknown          0.999941
iPod             0.999982
BlackBerry       1.000000
Name: device_category, dtype: float64
==================================================
==================================================
Analysis for user_agent
user_agent has 61563 unique items - 1.69%
Printing sample values
['Mozilla/5.0 (iPhone; CPU iPhone OS 13_7 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 Instagram 158.1.0.29.120 (iPhone9,2; iOS 13_7; en_US; en-US; scale=2.88; 1080x1920; 244229785)', 'Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Build/MMB29P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.105 Mobile Safari/537.36 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)', 'Mozilla/5.0 AppleWebKit/537.36 (KHTML, like Gecko; compatible; Googlebot/2.1; +http://www.google.com/bot.html) Chrome/85.0.4183.105 Safari/537.36', 'Mozilla/5.0 (iPhone; CPU iPhone OS 13_7 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.2 Mobile/15E148 Safari/604.1', 'Mozilla/5.0 (iPhone; CPU iPhone OS 13_6_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.2 Mobile/15E148 Safari/604.1']
==================================================
==================================================
Analysis for user_gender
user_gender has 2 unique items - 0.0%
Printing the frequency of categories
Female    0.91269
Male      1.00000
Name: user_gender, dtype: float64
==================================================
==================================================
Analysis for user_state
user_state has 356 unique items - 0.01%
Printing sample values
[nan, nan, nan, 'California', 'New York']
==================================================
==================================================
Analysis for traffic_source
traffic_source has 0 unique items - 0.0%
Printing the frequency of categories
Series([], Name: traffic_source, dtype: float64)
==================================================

## Session level data

In [25]:
aggregations = {'event_time': ['max', 'min'],
                'event_id': [lambda x: '->'.join(x), 'count']}
session_data = event_data.groupby(['session_id', 'lb_user_id', 'device',
                                   'device_category', 'user_gender', 'user_state']).agg(aggregations)

In [33]:
session_data.reset_index(inplace=True)
session_data.columns = ['session_id', 'lb_user_id', 'device', 'device_category', 'user_gender',
                        'user_state', 'session_end_time', 'session_start_time', 'event_sequence', 'no_of_events']

In [82]:
session_data = session_data.assign(session_duration_sec=(
    session_data['session_end_time']-session_data['session_start_time']).dt.total_seconds())
session_data = session_data.assign(made_purchase=np.where(session_data['event_sequence'].str.contains("6"), "Yes", "No"))
session_data = session_data.assign(visit_count=session_data.groupby('lb_user_id')['session_end_time'].rank(method='min'))
session_data = session_data.assign(bought_on_first_visit=np.where((session_data['visit_count']==1)&(session_data['made_purchase']=='Yes'), 'Yes', 'No'))

In [84]:
session_data[session_data['visit_count']==1]['bought_on_first_visit'].value_counts()

Yes    116872
No      30475
Name: bought_on_first_visit, dtype: int64

In [35]:
print(f"Number of sessions happened is {session_data.shape[0]}")

Number of sessions happened is 256827

In [39]:
session_data['device_category'].value_counts(normalize=True).cumsum()

iPhone           0.569333
macOS            0.767789
Android          0.865622
Windows          0.950628
iPad             0.994599
Chrome OS        0.999537
Generic Linux    0.999961
iPod             0.999981
BlackBerry       0.999992
Unknown          1.000000
Name: device_category, dtype: float64

In [40]:
session_data['user_gender'].value_counts(normalize=True).cumsum()

Female    0.912587
Male      1.000000
Name: user_gender, dtype: float64

In [71]:
session_data['no_of_events'].value_counts(normalize=True).cumsum()

1      0.227402
2      0.448391
3      0.558785
4      0.628914
5      0.680392
6      0.720734
7      0.752417
8      0.781339
9      0.807372
10     0.830189
11     0.849661
12     0.865886
13     0.879834
14     0.892028
15     0.902802
16     0.912155
17     0.920300
18     0.927994
19     0.934851
20     0.940894
21     0.946240
22     0.950955
23     0.955196
24     0.959019
25     0.962531
26     0.965747
28     0.968446
27     0.971117
29     0.973605
30     0.975700
         ...
123    0.999883
120    0.999891
146    0.999895
220    0.999899
125    0.999903
130    0.999907
122    0.999910
247    0.999914
132    0.999918
117    0.999922
116    0.999926
115    0.999930
112    0.999934
223    0.999938
95     0.999942
337    0.999945
148    0.999949
200    0.999953
319    0.999957
126    0.999961
138    0.999965
179    0.999969
177    0.999973
172    0.999977
171    0.999981
168    0.999984
162    0.999988
153    0.999992
143    0.999996
182    1.000000
Name: no_of_events, Length: 156, dtype: float64

In [64]:
session_data[['session_duration_sec']].describe(percentiles=[0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99]).transpose()

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max
session_duration_sec,256827.0,3940.43342,95419.480645,0.0,0.0,0.0,0.0,6.0,53.0,337.0,1431.0,3702.0,11207.48,6144060.0

In [69]:
session_data['made_purchase'].value_counts(normalize=True).cumsum()

False    0.507205
True     1.000000
Name: made_purchase, dtype: float64

In [86]:
session_data.head()

,session_id,lb_user_id,device,device_category,user_gender,user_state,session_end_time,session_start_time,event_sequence,no_of_events,session_duration_sec,made_purchase,visit_count,bought_on_first_visit
0,_00022uznd,_oqprf6nav,desktop,Windows,Male,New York,2020-11-23 02:59:50,2020-11-23 02:59:03,1->1->2,3,47.0,No,10.0,No
1,_0004g0yuv,_m8i0dtjj6,mobile,iPhone,Female,Maryland,2020-11-11 12:25:05,2020-11-11 12:24:56,2->6,2,9.0,Yes,1.0,Yes
2,_000dfqvrj,_kn3otbq1a,mobile,iPhone,Female,Massachusetts,2020-10-04 23:32:01,2020-10-04 23:31:39,2->1,2,22.0,No,1.0,No
3,_000frx5lw,_u6ia8ze08,mobile,iPhone,Female,Virginia,2020-09-20 14:35:27,2020-09-20 13:07:20,1->6->1->2->3->2->3->2,8,5287.0,Yes,1.0,Yes
4,_000q43w78,_an7s8iurw,mobile,iPhone,Female,New York,2020-09-29 13:22:18,2020-09-29 13:22:13,2->6,2,5.0,Yes,1.0,Yes

## User wise aggregation

In [125]:
user_level_aggregation = {
    'session_duration_sec': 'mean', 'no_of_events' : 'mean', 'session_duration_sec' : 'mean', 'visit_count': 'count',
    'made_purchase' : lambda x: (x=="Yes").sum(), 'bought_on_first_visit': lambda x: (x=="Yes").sum(),
    'device': lambda x: set(x), 'device_category': lambda x: set(x), 'user_state': lambda x: set(x)
}

user_data = session_data.groupby(['lb_user_id', 'user_gender']).agg(user_level_aggregation)

In [153]:
user_data.reset_index(inplace=True)
user_data = user_data.iloc[:, -10:]
user_data.columns = ['lb_user_id', 'user_gender', 'avg_session_duration', 'avg_no_of_events', 'times_visited', 
                     'times_purchased', 'bought_on_first_visit', 'devices_used', 'device_categories_used', 'states_used_from']

In [155]:
user_data['bought_on_first_visit'].value_counts()

1    116872
0     31945
Name: bought_on_first_visit, dtype: int64

In [115]:
session_data[session_data['lb_user_id']=='_000fag02q']

,session_id,lb_user_id,device,device_category,user_gender,user_state,session_end_time,session_start_time,event_sequence,no_of_events,session_duration_sec,made_purchase,visit_count,bought_on_first_visit
185838,_q2xaqbg6t,_000fag02q,mobile,iPhone,Female,Florida,2020-11-29 16:41:35,2020-11-29 16:41:27,2->6,2,8.0,Yes,1.0,Yes

In [114]:
session_data[session_data['lb_user_id']=='_000yveacz']

,session_id,lb_user_id,device,device_category,user_gender,user_state,session_end_time,session_start_time,event_sequence,no_of_events,session_duration_sec,made_purchase,visit_count,bought_on_first_visit
17793,_2icjq8j8q,_000yveacz,mobile,iPhone,Female,California,2020-11-14 09:50:03,2020-11-14 09:00:55,1->2->6->1->2->1->1->2->1->2->3->1->1->2->1->1...,84,2948.0,Yes,1.0,Yes
147170,_kneef49ms,_000yveacz,mobile,iPhone,Female,California,2020-11-15 07:22:12,2020-11-15 07:22:12,1,1,0.0,No,2.0,No

## Session wise aggregation